*#
*.gcda
*.gcno
*.in
*.o
*Makefile*
*~
Makefile
aclocal.m4
autom4te.cache/
config
config.log
config.status
config/Makefile
config/Makefile.in
config/config.h*
config/stamp-h1
config/test-driver
configure
cov/
docs/Doxyfile
docs/html/
examples/.deps
examples/.deps/
examples/test[0-9]
examples/test[0-9][0-9]
tclap.pc
tests/*.log
tests/*.trs
tests/tmp.out
