*#
*.gcda
*.gcno
*.in
*.o
*.orig
*.patch
*.pyc
*~
.vs/
Makefile
aclocal.m4
autom4te.cache/
build/
config.log
config.status
config/Makefile
config/Makefile.in
config/config.h*
config/stamp-h1
config/test-driver
configure
cov/
docs/Doxyfile
docs/html/
examples/.deps/
examples/test[0-9]
examples/test[0-9][0-9]
inst/
tclap.pc
tests/test*.log
tests/test*.trs
tests/tmp.out
